[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
ptpython = "*"

[packages]
requests = ">=2.22.0"
furl = ">=2.0.0"

[requires]
python_version = "3.7"
