[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pipenv-to-requirements = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pytest-vcr = "*"

[packages]
requests = "*"
furl = "*"
lxml = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
