-i https://pypi.org/simple/
appdirs==1.4.4
attrs==21.2.0
bleach==3.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
cryptography==3.4.7
distlib==0.3.1
docutils==0.17.1
filelock==3.0.12
flake8==3.8.2
idna==2.10
importlib-metadata==4.0.1 ; python_version < '3.8'
jedi==0.18.0
jeepney==0.6.0 ; sys_platform == 'linux'
keyring==23.0.1
mccabe==0.6.1
more-itertools==8.8.0
multidict==5.1.0
packaging==20.9
parso==0.8.2
pbr==5.6.0
pipenv-to-requirements==0.9.0
pipenv==2020.11.15
pkginfo==1.7.0
pluggy==0.13.1
prompt-toolkit==3.0.18
ptpython==3.0.2
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pygments==2.7.4
pyparsing==2.4.7
pytest-vcr==1.0.2
pytest==5.4.2
pyyaml==5.4.1
readme-renderer==29.0
requests-toolbelt==0.9.1
requests==2.23.0
secretstorage==3.3.1 ; sys_platform == 'linux'
six==1.16.0
tqdm==4.60.0
twine==3.1.1
typing-extensions==3.10.0.0 ; python_version < '3.8'
urllib3==1.25.11
vcrpy==4.1.1
virtualenv-clone==0.5.4
virtualenv==20.4.6
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.34.2
wrapt==1.12.1
yarl==1.6.3 ; python_version >= '3.6'
zipp==3.4.1
